* {
    font-family: Roboto, "Segoe UI", sans-serif;
}

#nav-logo-text {
    font-size: 1.7rem;
}

#close-modal-btn {
    border: none;
    font-size: 20px;
    margin: 0;
    width: 32px;
    border-radius: 100px;
    background: white;
    color: black;
    transition: 0.4s;
}
    #close-modal-btn:hover {
        background: black;
        color: white;
    }

.modal-header-row {
    font-size: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
    .modal-header-row > .col-x-btn {
        text-align: right;
    }

.client-rating {
    font-size: 1.3em;
    color: gold;
}

.label-client {
    color: #737c90;
}