* {
    font-family: Roboto, "Segoe UI", sans-serif;
}

select, input {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(100, 100, 100);
    padding-left: 8px;
}
    select:hover {
        cursor: pointer;
    }

button:focus, input[type=text]:focus, input[type=number]:focus, input[type=checkbox]:focus {
    box-shadow: none;
    outline: 0 none !important;
}


/* Login */
#access-password {
    border-radius: 10px;
    margin-left: 6px;
}

.login-btn {
    margin-left: 8px;
    background: #00b6d4;
    color: white;
    border: none;
    padding: 2px 12px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-transition: .4s;
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

    .login-btn:hover {
        background: #0094b1;
    }


/* List */
#nav-logo-text {
    font-size: 1.7rem;
}

.category-cell {
    border-radius: 30px;
    display: inline-block;
    padding: 0 10px 2px 9px;
    text-align: center;
    white-space: nowrap;
}


@media (min-width: 1500px) {
    #table-container, #nav-container {
        max-width: 1400px;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    #table-container, #nav-container {
        max-width: 1350px;
    }
}

@media (min-width: 1300px) and (max-width: 1400px) {
    #table-container, #nav-container {
        max-width: 1250px;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    #table-container, #nav-container {
        max-width: 1150px;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    #table-container, #nav-container {
        max-width: 1150px;
        margin-left: 10px;
    }
}

@media (max-width: 1100px) {
    #table-container, #nav-container {
        margin-left: 0;
        padding-left: 0;
    }
}


/* Modal */
#close-modal-btn {
    border: none;
    font-size: 20px;
    margin: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    border-radius: 100px;
    background: white;
    color: black;
    transition: 0.4s;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-left: 4px;
    padding-bottom: 3px;
}
    #close-modal-btn:hover {
        background: red;
        color: black;
    }

.modal-header-row {
    height: 10px;
    font-size: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
    .modal-header-row > .col-x-btn {
        text-align: right;
    }

.no-client-image {
    width: 160px;
    height: 160px;
    float: left;
    text-align: center;
    padding-top: 50px;
    font-style: italic;
    border: 1px solid rgba(190, 190, 190, 1);
    background: rgb(240, 240, 240);
    border-radius: 4px;
}

.client-image {
    float: left;
}

.client-name-container {
    display: inline-block;
    margin-bottom: 8px;
    max-width: 500px;
    padding-left: 12px;
    min-height: 160px;
}

h2.client-name {
    display: inline-block;
    width: 500px;
    -ms-word-break: break-all;
    word-break: break-all;
}

.label-client {
    color: #737c90;
}

.modal-detail-body {
    width: 680px;
    min-height: 600px;
    max-height: 700px;
}
    .modal-detail-body hr {
        margin: 0.65rem 0;
    }

.rating-container {
    position: relative;
}

.client-rating {
    top: -9px;
    font-size: 1.5em;
    position: absolute;
    color: gold;
    width: 80px;
}

.col-addr {
    margin-bottom: 12px;
}

.client-firstname {
    margin-right: 12px;
}

.client-surname {
    min-width: 200px;
    display: inline-block;
}

.client-info-table tr > td:nth-child(2n-1) {
    vertical-align: top;
    padding-right: 4px;
}

.client-info-table tr > td:nth-child(2n) {
    word-break: break-all;
    vertical-align: top;
}

.table-left-side {
    overflow-x: auto;
}

.detail-right-side .client-info-table th, .detail-right-side .client-info-table td {
    border: none !important;
    padding: 0 !important;
    overflow: hidden;
}


.social-row {
    margin: 16px auto 0 auto;
    display: flex;
    width: 700px !important;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.icon-social {
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    background-size: contain;
    opacity: .5;
}
    .icon-social.icon-active:hover {
        opacity: 1;
    }
    .icon-social > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .icon-fb {
        background-image: url('socialnet/fb_off.svg');
    }
    .icon-twitter {
        background-image: url('socialnet/twitter_off.svg');
    }
    .icon-linkedin {
        background-image: url('socialnet/linkedin_off.svg');
    }
    .icon-pinterest {
        background-image: url('socialnet/pinterest_off.svg');
    }
    .icon-instagram {
        background-image: url('socialnet/ig_off.svg');
    }
    .icon-skype {
        background-image: url('socialnet/skype_off.svg');
    }
    .icon-yt {
        background-image: url('socialnet/yt_off.svg');
    }
    .icon-fb.icon-active {
        background-image: url('socialnet/fb_on.svg');
    }
    .icon-twitter.icon-active {
        background-image: url('socialnet/twitter_on.svg');
    }
    .icon-linkedin.icon-active {
        background-image: url('socialnet/linkedin_on.svg');
    }
    .icon-pinterest.icon-active {
        background-image: url('socialnet/pinterest_on.svg');
    }
    .icon-instagram.icon-active {
        background-image: url('socialnet/ig_on.svg');
    }
    .icon-skype.icon-active {
        background-image: url('socialnet/skype_on.svg');
    }
    .icon-yt.icon-active {
        background-image: url('socialnet/yt_on.svg');
    }

.address-name {
    word-break: break-all;
}

.notice {
    border: 1px solid rgba(150, 150, 150,0.5);
    min-height: 26px;
    padding: 4px 6px 2px 6px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Loading */
.loading-div {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 100px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        border: 4px solid #00b6d4;
        border-color: #00b6d4 transparent #00b6d4 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

.loading-img {
    height: 160px;
    width: 160px;
    position: relative;
    float: left;
}

    .loading-img > .lds-dual-ring {
        margin-top: 40px;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}